// Your custom SCSS should be written here...
/* BLAM0 */

@import "fittext";

//Portfolio

.port-image {
	position: relative;
	background: #000;
}

.port-cat {
position: absolute;
bottom: 0;
left: 0;

	ul {
	margin: 0;
	}

	a, h5 {
	font-size: $med;
	background: #000;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0;
		&:hover {
		color: lighten($body-link-color, 10);
		}
	}
}

ul.filter{
	position : relative;
	right: 0;
	float: right;
	list-style: none;
	height: 30px;
}
ul.filter li{
	float: left;
	height: 25px;
}
ul.filter a{
	display: block;
	background: #eee;
	margin-right: 10px;
	padding: 0 10px;
}
ul.filter li:last-child a{
	margin: 0px;
}
ul.filter a:hover,
ul.filter a.active{
	background: $body-link-color;
	color: #fff;
	}

.port-grid div.portfolio-item {
  @include fancytiles(3,2,1);
  //min-height: 350px;
  height: auto;
}

//HEADER STUFF

$h-font: "Josefin Sans", sans-serif;

.bigname {
	font-family: $h-font;
	font-weight: 100;
	@include fittext($min-font-size: 75px, $max-font-size: 80px);
	text-align: center;
}


.iconlinks {

	a, i {

	font-size: $xlarge;
	text-align: center;
	margin: auto;
	margin: 20px 15px 0px 0px;
	}
}

ul.post-categories {
	display: inline-block;
}

.entry-meta {
	font-size: 80%;
}

.my-name {
	font-family: $h-font;
	font-size: $xlarge;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $h-font;
}

.vertical-nav-container {
	
	a.toggle {
    display: none;
    	@include respond(all-phones) {
    		display: block;
    		margin: auto;
    		text-align: center;
   		 }
    }
    ul {
    	float: none;
    	text-align: center;
    	@include respond(all-phones){
    		height: 0;
    		overflow: hidden;
    		&.active {
    		height: auto;
    		text-align: center;
    		z-index: 999998;
      		@include transition-duration(.5s);
    					}
    		}	
    
		}	

}

.keep-reading {
	float: right;
	font-size: 80%;
}
nav {
	div.navright {
	float: right;
	text-align: right;}
	div.navleft {
	float: left;
	text-align: left;
	}
}
